{% extends 'main/base.html' %}

{% load static %}

{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
{% endblock css %}

{% block section %}
    <section>
        <div class="container container_cont">
            <div class="text-center mt-3">
                <div class="alert alert-danger" role="alert">
                    <div class="container"> 
                        Ссылка недействительна, восстановить аккаунт невозможно, попробуйте отправить еще одно письмо.
                    </div>
                </div>                      
                <div class="container mt-3">
                    <a href="{% url 'index' %}" class="btn btn-outline-primary">
                        Продолжить
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock section %}
