{% extends 'main/base.html' %}

{% load static %}

{% load humanize %}

{% load cache %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

{% block section %}
    <section>
        <div class="my-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="container_cont d-flex flex-column align-items-center text-center">
                        <img src="{{ object.get_avatar }}" alt="user__image" class="img_bord" width="300">
                    </div>
                    <div class="container_cont">
                        <ul class="list-group">
                            {% include 'main/forms_errors.html' %}
                            {% if request.user == object %}
                                {% if not object.first_name or not object.last_name or not object.last_login or not object.birth_day or not object.bio %}
                                    <div class="container">
                                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                                            Профиль заполнен не полностью!
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <li class="list-group-item bg-dark-1">Имя пользователя: {{ object }}</li>
                            <li class="list-group-item bg-dark-1">Почта: {{ object.email }}</li>
                            {% if object.first_name %}<li class="list-group-item bg-dark-1">Имя и фамилия: {{ object.first_name }}</li>{% endif %}
                            {% if object.last_name %}<li class="list-group-item bg-dark-1">Фамилия: {{ object.last_name }}</li>{% endif %} 
                            {% if object.birth_day %}<li class="list-group-item bg-dark-1">Родился(ась) {{ object.birth_day }}</li>{% endif %}
                            {% if object.last_login %}<li class="list-group-item bg-dark-1">Заходил(a) {{ object.last_login|naturaltime }}</li>{% endif %} 
                            <li class="list-group-item bg-dark-1">Дата регистрации: {{ object.date_joined }}</li>
                            {% if object.bio %}<li class="list-group-item bg-dark-1">О себе: {{ object.bio }}</li>{% endif %}
                            
                        </ul>
                        {% if request.user == object %}
                            <a href="{% url 'users:profile_edit' %}" class="btn btn-sm btn-outline-light mt-2">
                                Редактировать профиль
                            </a>
                            <a href="{% url 'users:changepassword' %}" class="btn btn-sm btn-outline-light mt-2">
                                Изменить пароль
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container_cont d-flex flex-column">
                        <h4 class="text-right">Сообщения профиля</h4>
                        <div class="d-flex flex-row align-items-start">
                            <img src="{{ request.user.get_avatar }}" alt="user__image" class="img_bord me-2" width="100">
                            <textarea class="form-control shadow-none textarea bg-form"></textarea>
                        </div>
                        <div class="my-2 text-right">
                            <a href="#" class="btn btn-sm btn-outline-light mt-2 btn_com">
                                Отправить
                            </a>
                        </div>
                        <div class="comments">
                            <div>
                                <div class="d-flex flex-row user-info">
                                    <img src="#" alt="user__image" class="img_bord me-2" width="100">
                                    <div class="d-flex flex-column justify-content-start"><span
                                            class="d-block font-weight-bold name">Marry Andrews</span><span
                                            class="date text-black-50">Shared publicly - Jan 2020</span></div>
                                </div>
                                <div class="mt-2">
                                    <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                        ut aliquip ex ea commodo consequat.</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container_cont">
                        <h2>Мои последние статьи.</h2>
                            <div class="last-messages">
                                {% cache 10 last_posts %}
                                    {% for i in last_posts %}
                                        <div class="container_last_messages">
                                            <h5>{{ i.title }}</h2>
                                            <p class="mt-3">{{ i.short_description }}</p>
                                            <small>
                                                Опубликовано {{ i.created|naturaltime }} |
                                                _ &#128172; | {{ i.likes.all.count }} &#128147;
                                            </small>
                                        </div>
                                    {% endfor %}
                                {% endcache %}
                            </div>
                        <a href="{% url 'users:allposts' object.slug %}" class="btn btn-sm btn-outline-light mt-2">
                            Посмотреть все
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock section %}
