{% extends 'main/base.html' %}

{% load static %}

{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">
{% endblock css %}

{% block section %}
    <div class="container container_cont mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Редактирование профиля {{ profile }}</h4>
        </div>
        {% include 'main/forms_errors.html' %}
        <form action="{% url 'users:profile_edit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Имя пользователя:</label>
                    {{ form.username }}
                </div>
                <div class="col-md-6"><label class="labels">URL:</label>
                    {{ form.slug }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Имя:</label>
                    {{ form.first_name }}
                </div>
                <div class="col-md-6"><label class="labels">Фамилия:</label>
                    {{ form.last_name }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Почта:</label>
                    {{ form.email }}
                </div>
                <div class="col-md-6"><label class="labels">Дата рождения:</label>
                    {{ form.birth_day }}
                </div>
            </div>
            <div class="mt-2">
                <label class="labels">О себе</label>
                {{ form.bio }}
            </div>
            <div class="mt-3">
                <label for="formFile" class="form-label">Аватар</label>
                {{ form.image }}
            </div>
            <div class="mt-3">
              {{ form.recaptcha }}
            </div>
            <div class="mt-5 text-center">
                <button class="btn btn-outline-light mb-5" type="subbmit">
                    Сохранить профиль
                </button>
            </div>
        </form>
    </div>
{% endblock section %}