{% extends 'main/base.html' %}

{% load static %}

{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}?3123124">
{% endblock css %}

{% block section %}
    <section>
        <div class="my-5">
            <div class="row">
                <div class="container">{% include 'main/forms_errors.html' %}</div>
                <div class="col-lg-4">
                    <div class="container_cont d-flex flex-column align-items-center text-center">
                        <img src="{{ object.get_avatar }}" alt="user__image" class="img_bord" width="300">
                    </div>
                    <div class="container_cont">
                        <ul class="list-group">
                            {% if request.user == object %}
                                {% if not object.first_name or not object.last_name or not object.last_login or not object.birth_day or not object.bio %}
                                    <div class="container">
                                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                                            Профиль заполнен не полностью!
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <li class="list-group-item bg-dark-1">Имя пользователя: {{ object }}</li>
                            {% if object == request.user %}<li class="list-group-item bg-dark-1">Почта: {{ object.email }}</li>{% endif %}
                            {% if object == request.user %}<li class="list-group-item bg-dark-1">ID Телеграм: {{ object.tg_id }}</li>{% endif %}
                            {% if object.first_name %}<li class="list-group-item bg-dark-1">Имя: {{ object.first_name }}</li>{% endif %}
                            {% if object.last_name %}<li class="list-group-item bg-dark-1">Фамилия: {{ object.last_name }}</li>{% endif %} 
                            {% if object.birth_day %}<li class="list-group-item bg-dark-1">Родился(ась) {{ object.birth_day }}</li>{% endif %}
                            {% if object.last_login %}<li class="list-group-item bg-dark-1">
                                Заходил(a) {{ object.last_login|naturaltime }} | {% if object.is_online %}&#128994;Онлайн{% else %}&#128308;Не в сети{% endif %}
                            </li>{% endif %} 
                            <li class="list-group-item bg-dark-1">Дата регистрации: {{ object.date_joined }}</li>
                            {% if object.bio %}<li class="list-group-item bg-dark-1">О себе: {{ object.bio }}</li>{% endif %}
                            
                        </ul>
                        {% if request.user == object %}
                            <a href="{% url 'users:profile_edit' %}" class="btn btn-sm btn-outline-light mt-2">
                                Редактировать профиль
                            </a>
                            <a href="{% url 'users:changepassword' %}" class="btn btn-sm btn-outline-light mt-2">
                                Изменить пароль
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="container_cont d-flex flex-column">
                        <h4 class="text-right">Сообщения профиля</h4>
                        <div class="d-flex flex-row align-items-start">
                            <img src="{{ request.user.get_avatar }}" alt="user__image" class="img_bord me-2" width="100">
                        </div>
                        <div class="my-2 text-right">
                            <form method="post" action="{% url 'users:profilecommentcreate' object.slug %}">
                                {% csrf_token %}
                                {{ form }}
                                <button class="btn btn-sm btn-outline-light mt-3" type="submit">
                                    Написать
                                </button>
                             </form>
                        </div>
                        <div class="comments">
                            {% for i in comms %}
                            <div>
                                <div class="d-flex flex-row user-info">
                                    <a href="{% url 'users:profile' i.author.slug %}">
                                        <img src=" {{ i.author.get_avatar }} " alt="user__image" class="img_bord me-2" width="100">
                                    </a>
                                    <div class="d-flex flex-column justify-content-start">
                                        <span class="d-block font-weight-bold name">
                                            <a href="{% url 'users:profile' i.author.slug %}" class="text_url">
                                            {{ i.author }}
                                            </a>
                                        </span>   
                                        <small
                                            class="date text-black-50">Комментарий отправлен {{ i.created|naturaltime }}
                                        </small>
                                        <small class="date text-black-50">
                                            Заходил на сайт {{ i.author.last_login|naturaltime }} | 
                                            {% if i.author.is_online %}
                                                &#128994;Онлайн
                                            {% else %}
                                                &#128308;Не в сети
                                            {% endif %}
                                        </small>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <p class="comment-text"> {{ i.text }} </p>
                                </div>
                                <hr>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="container_cont">
                        <h2>Мои последние статьи.</h2>
                            <div class="last-messages">
                                {% for i in last_posts %}
                                    <a class="text_url_all" href="{% url 'blog:post' i.slug %}">
                                        <div class="container_last_messages">
                                            <h5>
                                                {{ i.title }}
                                            </h5>
                                            <p class="mt-3">{{ i.short_description }}</p>
                                            <small>
                                                Опубликовано {{ i.created|naturaltime }} |
                                                {{ i.comments.count  }} &#128172; | {{ i.likes.count }} &#128147; | {{ i.views.count }} &#128064;
                                            </small>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        <a href="{% url 'users:allposts' object.slug %}" class="btn btn-sm btn-outline-light mt-2">
                            Посмотреть все
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock section %}
