{% extends 'main/base.html' %}

{% load static %}

{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">
{% endblock css %}

{% block section %}
    <div class="container container_cont mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Запрос на восстановление пароля!</h4>
        </div>
        {% include 'main/forms_errors.html' %}
        <form action="{% url 'users:resetpassword' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-light" type="subbmit">
                Восстановить пароль!
            </button>
        </form>
    </div>
{% endblock section %}