{% extends 'main/base.html' %}

{% load static %}

{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">
{% endblock css %}

{% block section %}
    {% if validlink %}
        <div class="container container_cont mt-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Установите новый пароль!</h4>
            </div>
            {% include 'main/forms_errors.html' %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-light" type="subbmit">
                    Подтвердить!
                </button>
            </form>
        </div>
        {% else %}
            <div class="container container_cont">
                <div class="text-center mt-3">
                    <div class="alert alert-danger" role="alert">
                        <div class="container"> 
                            Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались. Пожалуйста, попробуйте восстановить пароль еще раз.
                        </div>
                    </div>                      
                    <div class="container mt-3">
                        <a href="{% url 'index' %}" class="btn btn-outline-light">
                            Продолжить
                        </a>
                    </div>
                </div>
            </div>
    {% endif %}
{% endblock section %}
