@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ffaef4, #9ef8f1, rgba(0, 0, 0, 0.144)), url('/static/img/kot_main.jpg');
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(167, 167, 167);
}

body::-webkit-scrollbar-thumb {
    background-color: #575656;
}

.scrollspy-example {
    overflow-y: scroll;
    height: 360px;
}

.scrollspy-example::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(167, 167, 167);
}

.scrollspy-example::-webkit-scrollbar-thumb {
    background-color: #575656;
}

.last_posts {
    font-size: 2em;
    font-weight: 600;
    text-shadow: 1px 2px 2px #000;
}

.card-title {
    font-size: 2em;
    text-shadow: 1px 2px 2px #000;
    font-weight: 600;
}

.card-text-car {
    text-shadow: 1px 2px 1px #000;
    font-size: 1.5em;
    font-weight: 600;
    ;
}

.card-text-info {
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
}

@media (max-width: 600px) {
    .card-title {
        font-size: 1.5em; 
    }

    .card-text-car {
        font-size: 1em;
    }
}

.img-recent {
    width: 50%;
}

.img-card-wnb {
    width: 100%;
}

/* Sticky Footer Classes */

footer {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

.bg-dark-1 {
    background-color: rgba(0, 0, 0, 0);
}

.post_url {
    color: white;
}

.post_url:hover {
    color: blue;
}

.list-group-item {
    text-decoration: underline;
}

.list-group-item:hover {
    background-color: #5756565b;
}

.container_cont {
    background-color: rgba(0, 0, 0, 0.151);
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border:
        1px
        /* width */
        solid
        /* style */
        rgba(128, 128, 128, 0.7);
        /* color */
}

.alert {
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border:
        1px
        /* width */
        solid
        /* style */
        rgba(128, 128, 128, 0.7);
        /* color */
}

.cont_left {
    width: 89%;
}

.but-all {
    float: right;
}

.btn{
    color: black;
}

.btn:hover {
    background-color: #5756565b;
}

.alert {
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border:
        1px
        /* width */
        solid
        /* style */
        rgba(128, 128, 128, 0.7);
        /* color */
}