@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(167, 167, 167);
}

body::-webkit-scrollbar-thumb {
    background-color: #575656;
}

.comments {
    height: 350px;
    overflow-y: scroll;
}

.comments::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(167, 167, 167)
}

.comments::-webkit-scrollbar-thumb {
    background-color: #575656;
}

.last-messages {
    overflow-y: scroll;
    height: 720px;
}

.last-messages::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(167, 167, 167)
}

.last-messages::-webkit-scrollbar-thumb {
    background-color: #575656;
}

.bg-form {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.bg-form:focus {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.container_cont {
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.151);
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border:
        1px
        solid
        rgba(128, 128, 128, 0.7);
}

.list-group-item {
    background-color: rgba(0, 0, 0, 0.151);
}
