{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock css %}

{% block section %}
    <section>
        <div class="row">
            <div class="col-lg-2 m-5">
                <h2 class="fw-bold">Отсортировать</h2>
                <ul class="list-group mb-5">
                    <a href="#">
                        <li class="list-group-item bg-dark-1">An item</li>
                    </a>
                    <a href="#">
                        <li class="list-group-item bg-dark-1">A second item</li>
                    </a>
                </ul>
                <h2 class="fw-bold">Категории</h2>
                <ul class="list-group">
                    <a href="#">
                        <li class="list-group-item bg-dark-1">An item</li>
                    </a>
                    <a href="#">
                        <li class="list-group-item bg-dark-1">A second item</li>
                    </a>
                </ul>
            </div>
            <div class="col-lg-8 mt-5">
                <div class="container">
                    {% for i in object_list %}
                        <div class="card">
                            <a  class="card_text" href="{{ i.get_absolute_url }}">
                                <div class="card__header">
                                    {% if i.image %}
                                        <img src="{{ i.image.url }}"
                                            alt="card__image" class="card__image" width="600">
                                    {% endif %}
                                </div>
                                <div class="card__body">
                                    <span class="tag tag-blue">{{ i.category }}</span>
                                    <h4>{{ i.title }}</h4>
                                    <p>{{ i.short_description }}</p>
                                    <small>Опубликовано {{ i.created|naturaltime }}</small>
                                    0 &#128172;
                                    0 &#128077;
                                </div>
                            </a>
                            <div class="card__footer">
                                <div class="user">
                                    <img width="100"
                                    src="
                                    {% if i.author.image %} 
                                        {{ i.author.image.url}} 
                                    {% else %} 
                                    {% static 'img/profile.png' %}
                                    {% endif %}"
                                    class="img-thumbnail">
                                    <div class="user__info">
                                        <h5>{{ i.author.username }}</h5>
                                        <small>Заходил на сайт {{ i.author.last_login|naturaltime }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock section %}

