{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock css %}

{% block section %}
    <section>
        <div class="row">
            <div class="col-lg-2 m-5">
                <h2 class="fw-bold">Отсортировать</h2>
                <ul class="list-group mb-5">
                    <a href="#">
                        <li class="list-group-item bg-dark-1">An item</li>
                    </a>
                    <a href="#">
                        <li class="list-group-item bg-dark-1">A second item</li>
                    </a>
                </ul>
                <h2 class="fw-bold">Категории</h2>
                <ul class="list-group">
                    <a href="#">
                        <li class="list-group-item bg-dark-1">An item</li>
                    </a>
                    <a href="#">
                        <li class="list-group-item bg-dark-1">A second item</li>
                    </a>
                </ul>
            </div>
            <div class="col-lg-8 mt-5">
                <div class="container">
                    {% for i in object_list %}
                    <div class="card">
                        <div class="card__header">
                            <img src="{{ i.image.url }}"
                                alt="card__image" class="card__image" width="600">
                        </div>
                        <div class="card__body">
                            <span class="tag tag-blue">{{ i.category }}</span>
                            <h4>{{ i.title }}</h4>
                            <p>{{ i.short_description }}</p>
                            <small>Опубликовано {{ i.created|naturaltime }}</small>
                        </div>
                        <div class="card__footer">
                            <div class="user">
                                <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
                                <div class="user__info">
                                    <h5>Jane Doe</h5>
                                    <small>Онлайн 2h ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock section %}

