{% load mptt_tags %}

{% load humanize %}

<div class="container_comm">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="text-right">Комментарии</h4>
    </div>
    {% if user.is_authenticated %}
        <div>
            <div class="d-flex flex-row align-items-start">
                <img class="img_bord me-2" src="{{ request.user.get_avatar }}" width="100">
            </div>
            <div class="my-2 mb-3 text-right">
                <form method="post" action="{% url 'blog:commentcreate' object.slug 0 %}">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-sm btn-outline-light mt-3" type="submit">
                        Написать
                    </button>
                 </form>
            </div>
        </div>
    {% endif %}
    <div class="d-flex flex-column comment-section">
        <div class="comments bg-commets">
            <hr style="border-width: 10px;">
            {% recursetree object.comments.all %}
                    <ul>
                        <div class="comment">
                            <div class="d-flex flex-row user-info">
                                <img class="img_bord me-2" src="{{ node.author.get_avatar }}" width="100">
                                <div class="d-flex flex-column justify-content-start ml-2"><span
                                        class="d-block font-weight-bold name"> {{ node.author.username }} </span><small
                                        class="date text-black-50">Комментарий отправлен {{ node.created|naturaltime }} </small>
                                        <small class="date text-black-50">
                                            Заходил на сайт {{ node.author.last_login|naturaltime }} | 
                                            {% if node.author.is_online %}
                                                &#128994;Онлайн
                                            {% else %}
                                                &#128308;Не в сети
                                            {% endif %}
                                        </small>
                                    </div>
                            </div>
                            <div class="mt-2">
                                <span class="comment-text">
                                    {{ node.text }}
                                </span>
                            </div>
                            <div class="d-flex flex-row align-items-start mt-5">
                                <img class="img_bord me-2" src="{{ request.user.get_avatar }}" width="100">
                            </div>
                            <div class="my-2 mb-3 text-right">
                                <form method="post" action="{% url 'blog:commentcreate' object.slug node.id %}">
                                    {% csrf_token %}
                                    {{ form }}
                                    <button class="btn btn-sm btn-outline-light mt-3" type="submit">
                                        Ответить
                                    </button>
                                 </form>
                            </div>
                            <hr style="border-width: 10px;">
                        </div>
                        <child class="1">
                        {% if not node.is_leaf_node %}
                            {{ children }}
                        {% endif %}
                        </child>
                    </ul>
            {% endrecursetree %}
        </div>
    </div>
</div>
