{% extends 'main/base.html' %}

{% load static %}
    
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock css %}

{% block section %}
    <section>
        <div class="container_cont">
            {% include 'main/forms_errors.html' %}
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card__header">
                            <img src="{{ object.image.url }}"
                                alt="card__image" class="card__image" style="width: 100%;">
                        </div>
                        <div class="card__body">
                            <span class="tag tag-blue">
                                <a class="card_text" href="{% url 'blog:category' object.category.slug %}">
                                    {{ object.category }}
                                </a>
                            </span>
                            <h4>{{ object.title }}</h4>
                            <p>{{ object.full_description }}</p>
                            <small>{{ object.created|naturaltime }}</small>
                        </div>
                        <div class="card__footer">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="user">
                                        <a href="{% url 'users:profile' object.author.slug %}">
                                            <img src="{{ object.author.get_avatar }}"
                                            alt="user__image"
                                            class="img_bord" width="100">
                                        </a>
                                        <div class="user__info">
                                            <h5>
                                                <a href="{% url 'users:profile' object.author.slug %}" class="url_author">
                                                    {{ object.author.username }}
                                                </a>
                                            </h5>
                                            <small>Заходил на сайт {{ object.author.last_login|naturaltime }}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                </div>
                                <div class="col-lg-2">
                                    <span class="like_coms_url fs-4">{{ object.comments.count }} &#128172;</span>
                                    <a class="like_coms_url fs-4" href="{% url 'blog:addlike' object.slug %}" type="submit">
                                        {{ object.likes.count }} &#128147;
                                    </a>
                                    {% if user.is_staff or user.id == object.author.id %}
                                    <small>
                                        <p>
                                            <a class="url_author me-3" href="{% url 'blog:edit' object.slug %}">Изменить&#128394;</a>
                                            <a class="url_author" href="{% url 'blog:delete' object.slug %}">Удалить&#128465;</a>
                                        </p>
                                    </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'blog/comments.html' %}
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>
    </section>
{% endblock section %}

{% block footer %}
    {% include 'main/footer.html' %}
{% endblock footer %}

{% block scripts %}
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> {% endcomment %}
    {% comment %} <script>
    $( "#1" ).click(function() {
    $( "child" ).slideToggle( "fast" );
    });
    </script> {% endcomment %}
    <script src="{% static 'js/jquery-1.7.2.js' %}"></script>
    <script>
        $(".11").click(function () {
          $(".1").slideToggle("fast");
        });
    </script>
{% endblock scripts %}
