{% extends 'main/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock css %}

{% block section %}
    <section>
        <div class="wrapper centered">
            <article class="letter">
                {% include 'main/forms_errors.html' %}
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %} 
                    <div class="side">
                        <h1>Contact us</h1>
                        <p>
                            {{ form.message }}
                        </p>
                    </div>
                    <div class="side">
                        <p>
                            {{ form.name }}
                        </p>
                        <p>
                            {{ form.email }}
                        </p>
                        
                        <p>
                            <button type="submit" class="btn btn-outline-secondary mt-2">
                                Отправить
                            </button>
                        </p>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            {{ form.recaptcha }}
                        </div>
                    </div>
                </form>
            </article>
            <div class="envelope front"></div>
            <div class="envelope back"></div>
        </div>
        <p class="result-message centered">Thank you for your message</p>
    </section>
{% endblock section %}    

{% block scripts %}
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock scripts %}
