{% extends 'main/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock css %}

{% block section %}
    <section>
        <div class="wrapper centered">
            <article class="letter">
                <div class="side">
                    <h1>Contact us</h1>
                    <p>
                        <textarea placeholder="Your message"></textarea>
                    </p>
                </div>
                <div class="side">
                    <p>
                        <input type="text" placeholder="Your name">
                    </p>
                    <p>
                        <input type="email" placeholder="Your email">
                    </p>
                    <p>
                        <a href="#" class="btn btn-outline-secondary mt-2">
                            Отправить
                        </a>
                    </p>
                </div>
            </article>
            <div class="envelope front"></div>
            <div class="envelope back"></div>
        </div>
        <p class="result-message centered">Thank you for your message</p>
    </section>
{% endblock section %}    

{% block scripts %}
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock scripts %}
