{% extends 'main/base.html' %}

{% load static %}

{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block section %} 
    <section>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-7">
                <div class="container_cont">
                    <h2 class="fw-bold">ЗАКРЕПЛЕННЫЕ ПОСТЫ</h2>
                    <div class="row">
                        <div class="col-4">
                            <div id="list-example" class="list-group">
                                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                                    class="scrollspy-example" tabindex="0">
                                    {% for i in object_list %}
                                        <a class="list-group-item bg-dark-1" href="#list-item-{{ i.created }}">
                                            {{ i.title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                                class="scrollspy-example" tabindex="0">
                                {% for i in object_list %}
                                <hr id="list-item-{{ i.created }}">
                                {% if i.image %}
                                    <a href="{% url 'blog:post' i.slug %}">
                                        <img class="img-recent"
                                            src="{{ i.image.url }}"
                                            class="card-img-top" alt="...">
                                    </a>
                                {% endif %}
                                <p class="card-text fs-5">{{ i.short_description }}</p>
                                <p class="card-text">Опубликовано {{ i.created|naturaltime }} |
                                    by {{ i.author.username }} |
                                    _ &#128172; | {{ i.likes.all.count }} &#128147;</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9"></div>
                            <div class="col-lg-3">
                                <a href="{% url 'blog:index' %}">
                                    <div class="but-all">
                                        <a href="#" class="btn btn-sm btn-outline-light mt-2">
                                            Посмотреть все
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container_cont">
                    <h2 class="fw-bold">ПОСЛЕДНИЕ ПУБЛИКАЦИИ</h2>
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-carousel text-bg-dark">
                                    {% if first.image %}
                                        <img src="{{ first.image.url }}"
                                            class="card-img" alt="...">
                                    {% endif %}
                                    <div class="card-img-overlay p-2">
                                        <a class="post_url" href="{% url 'blog:post' first.slug %}">
                                            <p class="card-title">{{ first.title }}</p>
                                        </a>
                                        <p class="card-text-car">
                                            {{ first.short_description }}
                                        </p>
                                        <p class="card-text-info">
                                            <small>
                                                Опубликовано {{ first.created|naturaltime }} |
                                                by {{ first.author.username }} |
                                                _ &#128172; | {{ first.likes.all.count }} &#128147;
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% for i in last_posts %}
                                <div class="carousel-item">
                                    <div class="card-carousel text-bg-dark">
                                        {% if i.image %}
                                            <img src="{{ i.image.url }}"
                                                class="card-img" alt="...">
                                        {% endif %}
                                        <div class="card-img-overlay p-2">
                                            <a class="post_url" href="{% url 'blog:post' i.slug %}">
                                                <p class="card-title">{{ i.title }}</p>
                                            </a>
                                            <p class="card-text-car">
                                                {{ i.short_description }}
                                            </p>
                                            <p class="card-text-info">
                                                <small>
                                                    Опубликовано {{ i.created|naturaltime }} |
                                                    by {{ i.author.username }} |
                                                    _ &#128172; | {{ i.likes.all.count }} &#128147;
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-2">
                <div class="container_cont">
                    <h2 class="fw-bold">Подписка</h2>
                    <p class="fs-5">
                        Не хочешь пропускать наши последние обновления? Подпишись на рассылку, уведомления будут приходить
                        на почту!
                    </p>
                    <div>
                        <div class=" button-sub">
                            <a href="#" class="btn btn-sm btn-outline-light mt-2">
                                Подписаться
                            </a>
                        </div>
                    </div>
                </div>
                {% include 'main/sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock section %}

{% block footer %}
    {% include 'main/footer.html' %}
{% endblock footer %}
