{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% block css %} {% endblock css %}
</head>
<title>{{ title }}</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand ms-3" href="{% url 'index' %}">Tom's Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                                Домашняя страница
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'blog:index' %}">
                                Блог
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">
                                Связаться с нами
                            </a>
                        </li>
                        {% if user.is_redactor %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'blog:new' %}">
                                    Добавить статью
                                </a>
                            </li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'admin:index' %}">
                                    Админка
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    {% comment %} <form class="d-flex me-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> {% endcomment %}
                    <ul class="navbar-nav me-3">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'users:profile' request.user.slug %}" class="nav-link">
                                    {{ request.user }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'users:logout' %}" class="nav-link">
                                    Выйти
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'users:login' %}" class="nav-link">
                                    Войти
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'users:register' %}" class="nav-link">
                                    Зарегистрироваться
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block section %} {% endblock section %}

    {% block footer %} {% endblock footer %}

    {% block scripts %} {% endblock scripts %} 
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
